
/*

COLORS

#FBFFE6 - cream
#C6B38E - tan
#4E1E29 - maroon
#242325 - gray
#020402 - black
#A52422 - red

FONTS

open sans - regular
alegreya sc - bold italic

*/

@import url(https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans);
@import url(https://fonts.google.com/specimen/Alegreya?selection.family=Alegreya:700i);

.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #020402;
    /* color: #FBFFE6; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-button {
    color: #FBFFE6;
    font-family: "Alegreya";
    padding: 1rem;
    text-decoration: none;
}

img {
    height: 100%;
    width: 100px;
    float: left;
}

.header {
    display: flex;
}

.button {
    background: #A52422;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 0.5rem;
}

.DetailsTile {
    width: 100%;
    height: 100%
}

.DetailsTile .details {
    width: 100%;
    display: flex;
}

.details .details-buttons {
    /* float: right; */
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    height: 100%;
}

#add {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    transition: background 10s, transform 1s;
}

#add:hover {
    background: purple;
    transform: rotate(360deg);
    animation-name: pulsate;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    from {
        padding: 0.75rem 0.5rem;
    }
    50% {
        padding: 1rem 0.75rem;
    }
    to {
        padding: 0.75rem 0.5rem;
    }
}
