
/*

COLORS

#FBFFE6 - cream
#C6B38E - tan
#4E1E29 - maroon
#242325 - gray
#020402 - black
#A52422 - red

FONTS

open sans - regular
alegreya sc - bold italic

*/

@import url(https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans);
@import url(https://fonts.google.com/specimen/Alegreya?selection.family=Alegreya:700i);

.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #020402;
    /* color: #FBFFE6; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-button {
    color: #FBFFE6;
    font-family: "Alegreya";
    padding: 1rem;
    text-decoration: none;
}

