
/*

COLORS

#FBFFE6 - cream
#C6B38E - tan
#4E1E29 - maroon
#242325 - gray
#020402 - black
#A52422 - red

FONTS

open sans - regular
alegreya sc - bold italic

*/

@import url(https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans);
@import url(https://fonts.google.com/specimen/Alegreya?selection.family=Alegreya:700i);

.App {
  /* position: fixed; */
  top: 0;
  background: #4E1E29;
  min-height: 100vh;
  height: 100%;
  min-width: 100%;
}

.content {
  position: relative;
  background: #C6B38E;
  margin: 5rem 8rem;
  padding: 1rem;
  min-height: 10rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

#content2 > .child {
  background: blue;
  margin-bottom: 1rem;
  height: 2rem;
}

.content #child3 {
  background: black;
}

#child3 + div {
  border: 1rem solid black;
}

.content p {
  font-weight: bold;
  color: brown;
  font-size: 15px;
}

.my-picture {
  width: 100%;
  min-height: 100px;
  background: #DDD;
  background-image: linear-gradient(to right, white, gray);
  background-repeat: no-repeat;
}

#float {
  float: left;
  background: black;
  width: 100px;
  height: 100px;
}
